<%= form_for(task) do |f| %>
  <%= f.label :title, "標題" %>
  <%= f.text_field :title %> <br />

  <%= f.label :title, "狀態" %>
  <% case %>
    <% when @task.status == "pending" %>
    <%= f.select :status, ["pending", "processing"] %> <br />
    <% when @task.status == "processing" || "completed" %>
    <%= f.select :status, ["processing", "completed"] %> <br />
  <% end %>

  <%= f.label :start, "起始時間" %>
  <%= f.datetime_select :start %> <br />

  <%= f.label :end, "結束時間" %>
  <%= f.datetime_select :end %> <br />

  <%= f.label :content, "任務內容" %>
  <%= f.text_area :content %> <br />

  <%= f.submit %>
<% end %>

<% if task.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(task.errors.count, "個錯誤") %> </h2>

    <ul>
      <% task.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
