<h1>任務列表</h1>

<%= link_to "新增任務", new_task_path %>

<table>
  <thead>
    <tr>
      <td>標題</td>
      <td>起始時間</td>
      <td>結束時間</td>
      <td>內容</td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.start %></td>
      <td><%= task.end %></td>
      <td><%= task.content %></td>
      <td>
        <%= link_to "編輯", edit_task_path(task) %>
        <%= link_to "刪除", task_path(task), method: "delete", data: { confirm: "確認刪除" } %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
