<strong class="home"><%= link_to '首頁', root_path %></strong>
<%= render 'layouts/header', tasks: @current_user.tasks %>
<%= paginate  @tasks %>
<%= search_form_for @q, url: tasks_path do |f| %>

  <%= f.search_field :title_or_tags_name_or_status_cont, placeholder: "標題、狀態或標籤搜尋" %>

  <%= f.submit %>
<% end %></br>

<%= sort_link(@q, :start, '起始時間', default_order: :desc) %>
<%= sort_link(@q, :end, '結束時間', default_order: :desc) %>
<%= sort_link(@q, :priority, '優先順序', default_order: :desc)%></br>


<%= link_to "新增任務", new_task_path, class: 'btn btn-primary mt-3'%>


<table class="table table-striped">
  <thead>
    <tr>
      <td><%= t :title %></td>
      <td><%= t :start %></td>
      <td><%= t :end %></td>
      <td><%= t :content %></td>
      <td><%= t :status %></td>
      <td><%= t :priority %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.start.try(:strftime, "%F %T") %></td>
      <td><%= task.end.try(:strftime, "%F %T") %></td>
      <td><%= task.content %></td>
      <td><%= task.status %></td>
      <% if task.priority %>
      <%# AASM i18n 優先順序 %>
        <td><%= Task.human_attribute_name("priority.#{task.priority}") %></td>
      <% else %>
        <td><%= nil %></td>
      <% end %>
    <td class="link">
        <div class="edit"><%= link_to "編輯",  edit_task_path(task), class:"btn btn-primary" %></div>
        <%= link_to "刪除", task_path(task), method: "delete", data: { confirm: "確認刪除"}, class:"btn btn-danger"  %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>
