<h1><%= link_to '任務列表', root_path %></h1>

<%= paginate @tasks %>
<%= search_form_for @q do |f| %>

  <%= f.search_field :title_or_status_cont, placeholder: "標題和狀態搜尋" %>

  <%= f.submit %>
<% end %></br>

<%=  form_with(url: root_path(@tasks), method: :get, local: true) do |f| %>
  <%= f.select :sort, ["以結束時間", "以建立時間", "以優先順序"] %>
  <%= f.submit "排序" %>
<% end %></br>

<%= link_to "新增任務", new_task_path, class: 'btn btn-primary' %>

<table class="table table-striped">
  <thead>
    <tr>
      <td><%= t :title %></td>
      <td><%= t :start %></td>
      <td><%= t :end %></td>
      <td><%= t :content %></td>
      <td><%= t :status %></td>
      <td><%= t :priority %></td>
    </tr>
  </thead>
  <tbody>
    <% @tasks.each do |task| %>
    <tr>
      <td><%= task.title %></td>
      <td><%= task.start %></td>
      <td><%= task.end %></td>
      <td><%= task.content %></td>
      <td><%= task.status %></td>
      <% if task.priority %>
        <td><%= Task.human_attribute_name("priority.#{task.priority}") %></td>
      <% else %>
        <td><%= task.priority %></td>
      <% end %>
    <td class="link">
        <div class="edit"><%= link_to "編輯", edit_task_path(task), class:"btn btn-primary" %></div>
        <%= link_to "刪除", task_path(task), method: "delete", data: { confirm: "確認刪除"}, class:"btn btn-danger"  %>
    </td>
    </tr>
    <% end %>
  </tbody>
</table>


